/* My styles */
:root {
  --footer-height: 14px;

  /* Fonts */
  --font-weight-bold: 700;
  --font-weight-regular: 400;

  /* Blues */
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  /* Neutrals */
  --light-gray: hsl(212, 45%, 89%);
  --white: hsl(0, 0%, 100%);
}

body {
  background: var(--light-gray);
  font-family: 'Outfit', sans-serif;
  height: 100vh;

  /* Flexbox */
  align-items: center;
  display: flex;
  flex-direction: column;
}

footer {
  bottom: 0;
  position: absolute;
}

h1 {
  color: var(--dark-blue);
  font-size: 1.375rem;
}

p {
  color: var(--grayish-blue);

  /* This is gross but meets the spec of 15px, based on browser default font size left at 16px. */
  font-size: 0.9375rem;
}

main {
  flex: 1 1 auto;
}

.qr-container {
  background: var(--white);
  border-radius: 28px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
  box-sizing: border-box;
  height: 497px;
  padding: 16px;
  text-align: center;
  width: 320px;
}

.qr-container img {
  border-radius: 10px;
  height: 288px;
  width: 288px;
}

/* Pre-made styles */
.attribution {
  font-size: 0.75rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}